body {
    font-family: 'Neucha', cursive, 'Sans-Serif';
}

hr, #current-day-container {
    width: 100%;
}

label {
    margin-bottom: 0;
}

#summary-container, #timezone-section, #current-day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#timezone-section {
    margin-top: 30px;
}

#temperature {
    font-size: 3.0em;
}

#temperature-section, #temperature-conversion {
    display: flex;
    align-items: center;
    justify-content: center;
}

#temperature-unit {
    margin-left: 15px;
    font-size: 1.5em;
}

.btn-group {
    text-align: center;
}

.footer-container {
    background-color: #f8f9fa;
}

#amPm, #weather-condition {
    font-size: 1.3em;
}

#daily-temp-summary-container, tr {
    font-size: 1.3em;
}

#city-section {
    font-size: 2.2em;
}

#current-day-container-margin-top {
    margin-top: 0;
}

#copyright-design {
    display: flex;
    align-items: center;
    font-size: 1.1em;
}

#current-day-container {
    align-items: flex-start;
}

#daily-temp-summary-container, #daily-high-low, .navbar {
    display: flex;
}

#daily-temp-summary-container {
    width: 100%;
    justify-content: space-between;
}

#high-container {
    margin-right: 10px;
}

#hours, .temperature-icon, #temperature-prediction, .temp-profile-of-week, .temp-misc-section {
    text-align: center;
}

.weather-display-container table {
    table-layout: fixed;
    width: 100%;
    margin-bottom: 0;
}

.temp-misc-section tr td {
    width: 50%;
}

.form-container {
    margin-bottom: 30px;
}

.form-inline {
    flex-flow: initial;
}

.navbar {
    justify-content: space-between;
}

.card-footer {
    display: flex;
    justify-content: space-between;
}

.navbar-weather-container {
    display: flex;
    justify-content: space-between;
}

#autocomplete { 
    width: 210px; 
}

#city-search-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

#submit-button-container {
    margin-left: 10px;
}

#countryModal .modal-header {
    color: #6c757d;
}

/* to make google autocomplete to appear in the modal */
/* solution adapted from https://stackoverflow.com/questions/36110527/google-place-autocomplete-not-showing-in-bootstrap-modal */
/* set a higher z than the modal so that it can appear */
.pac-container {
    z-index: 10000 !important;
}

/* css to style the loading spinner to appear at the center of the page taken from https://stackoverflow.com/questions/23184747/show-spinner-at-the-center-of-html5-page */
#loading {
    position: absolute;
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background: url("../images/cubic.svg");
    background-size: 100%;
}


#hr-1 {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}


#hr-2 {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

@media (max-width: 768px) { 
    #amPm, #weather-condition {
        font-size: 1.2em;
    }
    
    #daily-temp-summary-container, tr {
        font-size: 1.2em;
    }
    
    #city-section {
        font-size: 2.0em;
    }
}